<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gmail Auto Response App - Login</title>
  </head>
  <body>
    <a href="<%= authUrl %>">
      <img src="/img/button.png" alt="Login with Google" height="50" />
    </a>
  </body>
</html>
